<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="12000"/>
  </system.web>
<connectionStrings>
  <!--<add name="constr" connectionString="Data Source=DESKTOP-20US9CQ;Initial Catalog=CityTutorsDB;Integrated Security=True" />-->
  <add name="CityTutorsDBConnectionString" connectionString="Data Source=DESKTOP-1HJQT25\SQLEXPRESS;Initial Catalog=CityTutorsDB;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>
<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
</appSettings>
</configuration>